<% content_for :body_content_left do %>
  <%=raw @page.content_for(Refinery::Pages.default_parts.first.to_sym) unless params[:page] %>

  <% if @items.any? %>
    <%= will_paginate @items %>
    
    <% @items.each do |item| %>

        <div class="news">
          <p class="header"><%= link_to item.title, refinery.news_item_path(item) %> <span class="date">|&nbsp;<%= l(item.publish_date, :format => "%d.%m.%Y") %></span></p>
          <div class="content">
            <%= truncate  item.body, :length => 200,
              :omission => " ... #{link_to "&raquo;".html_safe, refinery.news_item_path(item)}",
              :preserve_html_tags => true %>
          </div>
        </div>

    <% end %>

    <%= will_paginate @items %>
  <% else %>
    <p><em>Новости появятся в ближайшее время</em></p>
  <% end %>
<% end -%>

<% content_for :body_content_right_prepend do -%>
  <%= raw @page.content_for(::Refinery::Pages.default_parts.second.to_sym) %>
<% end if ::Refinery::Pages.default_parts.many? -%>
<%= render :partial => '/refinery/news/shared/body_content_right' %>

<%= render :partial => "/refinery/content_page" %>
